#all-products {
     width: 80%;
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     justify-content: space-evenly;
     margin: 20px auto;
     gap: 20px;
}

#all-products>div {
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
     text-align: center;
}

#all-products>div>img {
     width: 280px;
     height: 380px;
}